{% import_yaml "rbenv/defaults.yaml" as defaults %}
{% import_yaml "rbenv/osmap.yaml" as osmap %}

{% set rbenv = salt['grains.filter_by'](
    defaults,
    merge=salt['grains.filter_by'](
        osmap,
        grain='os_family',
        merge=salt['pillar.get']('rbenv', {}),
    ),
    base='rbenv',
) %}
